<div class="form_container bg-light-gray" style="height: calc(100% - 100px); margin: 0 auto; padding: 20px; max-width: 420px;">

  <h1 class="text-center">Inscription</h1>
  <p class="text-center mt-3">Créer ton compte pour rejoindre la communauté SafeRun.</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="user-profile_group">
      <%= f.label :name, "Votre nom" %>
      <%= f.text_field :name, class: "user-profile_input", autofocus: true %>
    </div>

    <div class="user-profile_group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "user-profile_input" %>
    </div>

    <div class="user-profile_group">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, class: "user-profile_input" %>
      <% if @minimum_password_length %>
        <p class="user-profile_hint"><%= @minimum_password_length %> caractères minimum</p>
      <% end %>
    </div>

    <div class="user-profile_group">
      <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
      <%= f.password_field :password_confirmation, class: "user-profile_input" %>
    </div>

    <div class="user-profile_actions d-flex justify-content-center mt-4">
      <%= f.submit "S'inscrire", class: "btn btn-success btn-lg return-training-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
