<nav class="navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "#{'active' if controller_name == 'pages' && action_name == 'home'}" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to profile_path, class: "#{'active' if controller_name == 'pages' && action_name == 'profile' && !params[:anchor]}" do%>
          <i class="fa-solid fa-user"></i>
        <% end %>
        <% current_run = current_user.runs.find_by(status: 'running') %>
        <%= link_to (current_run ? run_path(current_run) : profile_path(anchor: "runs")), class: "#{'active' if controller_name == 'runs' || params[:anchor] == 'runs'}" do %>
          <i class="fa-regular fa-map"></i>
        <% end %>
        <%= link_to badges_path, class: "#{'active' if controller_name == 'badges'}" do%>
          <i class="fa-solid fa-medal"></i>
        <% end %>
        <%= link_to public_runs_path, class: "#{'active' if controller_name == 'public_runs'}" do%>
          <i class="fa-solid fa-shield-heart"></i>
        <% end %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir vous déconnecter ?"} do%>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %>
    <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "blanc" %>
    <% end %>
  </div>
</nav>
