<nav class="navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house ourlight-gray"></i>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to profile_path, class: "ourlight-gray" do%>
          <i class="fa-solid fa-user ourlight-gray"></i>
        <% end %>
        <%= link_to runs_path, class: "ourlight-gray" do%>
          <i class="fa-solid fa-person-running ourlight-gray"></i>
        <% end %>
        <%= link_to badges_path, class: "ourlight-gray" do%>
          <i class="fa-solid fa-medal ourlight-gray"></i>
        <% end %>
        <%= link_to guardians_path, class: "ourlight-gray" do%>
          <i class="fa-solid fa-user-shield ourlight-gray"></i>
        <% end %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "ourlight-gray" do%>
          <i class="fa-solid fa-arrow-right-from-bracket ourlight-gray"></i>
        <% end %>
    <% else %>
        <%= link_to new_user_session_path, class: "nav-link ourlight-gray" do%>
        Log in
          <i class="fa-solid fa-arrow-right-to-bracket ourlight-gray"></i>
        <% end %>
    <% end %>
    </div>
</nav>
