<%= render "shared/navbar" %>
<div class = container>

<div><h1>Profile</h1></div>

<div><p>Email: <%= @user.email %></p></div>

<div><h2>Runs: <%= @runs.count %></h2></div>
<div><h2>Guardians: <%= @guardians.count %></h2></div>
<div>h2>Badges: <%= @badges.count %></h2></div>



  <%= link_to "Accueil", root_path %> |
  <%= link_to "Profil", profile_path %> |
  <%= link_to "Runs", runs_path %> |
  <%= link_to "Guardians", guardians_path %> |
  <%= link_to "Badges", badges_path %>
</div>
