<%= render "shared/navbar" %>

<div class = container>

<div><h1>Mes courses</h1></div>

<div>
<%= link_to "Nouvelle course", new_run_path, class: "btn btn-success mb-3" %>
</div>

<div><h2>Courses terminées</h2></div>

<div><% if @runs.any? { |run| run.status == "ended" } %>

  <div><ul>
    <% @runs.each do |run| %>
      <% if run.status == "ended" %>
        <li class="mb-2">
          <%= run.ended_at&.strftime("%d/%m/%Y %H:%M") %> |
          <%= run.distance %> km |
          <%= run.duration %> min |
          <%= run.start_point %> |
          <%= link_to "Supprimer", run_path(run), data: { turbo_method: :delete, turbo_confirm: "Supprimer cette course ?" },class: "text-danger" %>
        </li>
      <% end %>
    <% end %>
  </ul></div>

  <% else %>
    <p>Aucune course terminée.</p>
  <% end %>
  </div>
</div>
