<%= render "shared/navbar" %>

<div class = container>
<div class="run-card">
  <p><strong>Point de départ :</strong> <%= @run.start_point || "-" %></p>
  <p><strong>Début :</strong> <%= @run.started_at&.strftime("%d/%m/%Y %H:%M") || "-" %></p>
  <p><strong>Fin :</strong> <%= @run.ended_at&.strftime("%d/%m/%Y %H:%M") || "-" %></p>


  <% if @run.status.in?(%w[running paused]) %>
    <p><strong>Temps écoulé :</strong></p>
    <div data-controller="timer" data-timer-started-at-value="<%= @run.started_at.iso8601 %>" data-timer-paused-duration-value="<%= @run.paused_duration %>"data-timer-paused-value="<%= @run.status == 'paused' %>"style="font-size: 2rem; font-weight: bold;">
      00:00:00
    </div>
  <% end %>

    <% if @run.status == "planned" %>
      <%= button_to start_run_path(@run), method: :patch, class: "btn" do %>
        <i class="fa-regular fa-circle-play fa-3x"></i>
      <% end %>
    <% end %>

    <% if @run.status == "running" %>
      <%= button_to pause_run_path(@run), method: :patch, class: "btn" do %>
        <i class="fa-regular fa-circle-pause fa-3x"></i>
      <% end %>
    <% end %>

    <% if @run.status == "paused" %>
      <%= button_to resume_run_path(@run), method: :patch, class: "btn" do %>
        <i class="fa-regular fa-circle-play fa-3x"></i>
      <% end %>
    <% end %>

    <% if @run.status.in?(%w[running paused]) %>
      <%= button_to end_run_path(@run), method: :patch, class: "btn", data: { turbo_confirm: "Es-tu sûr de vouloir terminer ta run ?" } do %>
        <i class="fa-regular fa-circle-xmark fa-3x"></i>
      <% end %>
    <% end %>
</div>
<%= button_to "Tester alert", start_alert_run_path(@run), method: :post %>
<%= button_to "Tester end", end_alert_run_path(@run), method: :post %>
<%= button_to "Tester OT", over_time_alert_run_path(@run), method: :post %>

<div><%= link_to "Retour", runs_path %></div>

<div id="map"
     data-controller="map"
     data-map-api-key-value="<%= ENV['MAPBOX'] %>"
     data-map-markers-value="<%= [{lat: @run.start_point_lat,lng: @run.start_point_lng,info_window_html: render(partial: 'shared/map_popup', locals: { run: @run })}].to_json %>"
     style="width: 100%; height: 50vh; min-height: 200px;">
</div>
</div>
