<div class="run-page">
  <div id="map"
       data-controller="map"
       data-map-api-key-value="<%= ENV['MAPBOX'] %>"
       data-map-markers-value="<%= [{lat: @run.start_point_lat, lng: @run.start_point_lng}].to_json %>"
       data-map-run-id-value="<%= @run.id %>"
       data-map-positions-value="<%= @run.positions.map { |position| {lat: position.latitude, lng: position.longitude} }.to_json %>"
       data-map-status-value="<%= @run.status %>">
  </div>

  <div class="run-info">
    <strong><%= @run.start_point %></strong>
    <div><i class="fa-solid fa-user-shield"></i> <%= @run.guardians.map(&:name).join(', ').presence || 'Aucun gardien' %></div>
  </div>

  <% if @run.status.in?(%w[running paused]) %>
    <div class="run-timer">
      <div class="run-timer__time"
           data-controller="timer"
           data-timer-started-at-value="<%= @run.started_at.iso8601 %>"
           data-timer-paused-duration-value="<%= @run.paused_duration %>"
           data-timer-paused-value="<%= @run.status == 'paused' %>"
           data-timer-duration-value="<%= @run.duration %>"
           data-timer-over-time-url-value="<%= over_time_alert_run_path(@run) %>">
        00:00:00
      </div>
    </div>
  <% end %>
  <% if @run.status.in?(%w[running paused planned]) %>
    <div class="run-controls">
      <% if @run.status == "planned" %>
        <%= link_to start_run_path(@run), class: "run-btn run-btn--play", data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-play"></i>
        <% end %>
      <% end %>

      <% if @run.status == "running" %>
        <%= link_to pause_run_path(@run), class: "run-btn run-btn--pause", data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-pause"></i>
        <% end %>
      <% end %>

      <% if @run.status == "paused" %>
        <%= link_to resume_run_path(@run), class: "run-btn run-btn--play", data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-play"></i>
        <% end %>
      <% end %>

      <% if @run.status.in?(%w[running paused]) %>
        <%= link_to end_run_path(@run), class: "run-btn run-btn--stop", data: { turbo_method: :patch, turbo_confirm: "Es-tu sûr de vouloir terminer ta run ?" } do %>
          <i class="fa-solid fa-stop"></i>
        <% end %>
      <% end %>
      <%= link_to incident_alert_run_path(@run), class: "run-btn run-btn--alert", data: { turbo_method: :post } do %>
        <i class="fa-solid fa-triangle-exclamation"></i>
      <% end %>
    </div>
    <% end %>
</div>
