<div class = container>
<div class="run-card">
  <p><strong>ID :</strong> <%= @run.id %></p>
  <p><strong>Status :</strong> <%= @run.status %></p>
  <p><strong>Guardians :</strong>
    <%= @run.guardians.map(&:name).join(", ").presence || "-" %>
  </p>

  <p><strong>Distance :</strong> <%= @run.distance || "N/A" %> km</p>
  <p><strong>Durée :</strong> <%= @run.duration || "N/A" %> min</p>
  <p><strong>Point de départ :</strong> <%= @run.start_point || "-" %></p>
  <p><strong>Début :</strong> <%= @run.started_at&.strftime("%d/%m/%Y %H:%M") || "-" %></p>
  <p><strong>Fin :</strong> <%= @run.ended_at&.strftime("%d/%m/%Y %H:%M") || "-" %></p>


  <% if @run.status.in?(%w[running paused]) %>
    <p><strong>Temps écoulé :</strong></p>
    <div data-controller="timer" data-timer-started-at-value="<%= @run.started_at.iso8601 %>" data-timer-paused-duration-value="<%= @run.paused_duration %>"data-timer-paused-value="<%= @run.status == 'paused' %>"style="font-size: 2rem; font-weight: bold;">
      00:00:00
    </div>
  <% end %>

    <% if @run.status == "planned" %>
      <%= button_to "Démarrer", start_run_path(@run),method: :patch,class: "btn btn-primary" %>
    <% end %>

    <% if @run.status == "running" %>
      <%= button_to "Mettre en pause", pause_run_path(@run),method: :patch, class: "btn btn-warning" %>
    <% end %>

    <% if @run.status == "paused" %>
      <%= button_to "Reprendre", resume_run_path(@run), method: :patch, class: "btn btn-success" %>
    <% end %>

    <% if @run.status.in?(%w[running paused]) %>
      <%= button_to "Terminer", end_run_path(@run),method: :patch, class: "btn btn-danger" %>
    <% end %>
</div>
<%= button_to "Tester alert", start_alert_run_path(@run), method: :post %>
<%= button_to "Tester end", end_alert_run_path(@run), method: :post %>
<%= button_to "Tester OT", over_time_alert_run_path(@run), method: :post %>
<%= button_to "Tester Incident", incident_alert_run_path(@run), method: :post %>

<div><%= link_to "Retour", runs_path %></div>

<div id="map"
     data-controller="map"
     data-map-api-key-value="<%= ENV['MAPBOX'] %>"
     data-map-markers-value="<%= [{ lat: @run.start_point_lat, lng: @run.start_point_lng }].to_json %>"
     style="width: 100%; height: 50vh; min-height: 200px;">
</div>
</div>
